<div class="content">
	<h2>Login</h2>
	<% if (error) { %>
	<div class="alert alert-error">
		Invalid username and/or password.
	</div>
	<% } %>
	<form action="/login" method="post" class="well form-horizontal">
		<input type="hidden" name="redir" value="<%= redir %>">
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" name="username" id="username">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" name="password" id="password">
			</div>
		</div>
		<div class="control-group last">
			<div class="controls">
				<input type="submit" value="Login">
			</div>
		</div>
	</form>
</div>