<div class="content">
	<h2>Register</h2>
	<% if (error) { %>
	<div class="alert alert-error">
		<ul>
		<% for (var e in error) { %>
			<li><%= error[e] %></li>
		<% } %>
		</ul>
	</div>
	<% } %>
	<form action="/register" method="post" class="well form-horizontal">
		<div class="control-group<% if (error && error.username) { %> error<% } %>">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" name="username" id="username" required>
			</div>
		</div>
		<div class="control-group<% if (error && error.password) { %> error<% } %>">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" name="password" id="password" required>
			</div>
		</div>
		<div class="control-group<% if (error && error.email) { %> error<% } %>">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="email" name="email" id="email" required>
			</div>
		</div>
		<div class="control-group last">
			<div class="controls">
				<input type="submit" value="Register" class="btn btn-success">
			</div>
		</div>
	</form>
</div>